<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="testscripts.regression.ValidateSearchHotelPageUsingPOM"/>
      <class name="base.BaseTest"/>
      <class name="testscripts.regression.ValidateLoginUsingHybrid"/>
      <class name="testscripts.regression.ValidateSearchHotelPageUsingPOM_AND_Keyword"/>
      <class name="testscripts.smoke.ToVerifywhetherLocationsInSelectHotelPageAreDisplayedAccordingToTheLocationSelectedInSearchHotel"/>
      <class name="testscripts.regression.ValidateLogin"/>
      <class name="testscripts.regression.ToVerifyLoginUsingInvalidDetails"/>
      <class name="testscripts.regression.ValidateLoginUsingKeywordDriven"/>
      <class name="testscripts.regression.ToVerifyValidLoginDetails"/>
      <class name="testscripts.regression.ToVerifyLoginUsingDtaprovider"/>
      <class name="testscripts.regression.ValidateLoginUsingPOM"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
